<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenteiro\PrimeiroModulo\Console\Command\TestCommand">
        <plugin name="primeiro_plugin" disabled="false" sortOrder="10" type="Magenteiro\PrimeiroPlugin\Plugin\MeuPlugin"/>
    </type>
</config>