<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <menu>
        <add id="Magenteiro_AdminController::menu" title="Magenteiro Options" module="Magenteiro_AdminController" resource="Magenteiro_AdminController::menu" sortOrder="10"/>
        <add id="Magenteiro_AdminController::item" title="Magenteiro Item" module="Magenteiro_AdminController" resource="Magenteiro_AdminController::item" sortOrder="20" action="magenteiroadmin/item" parent="Magenteiro_AdminController::menu"/>
    </menu>
</config>