<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="admin">
        <route id="magenteiroadmin" frontName="magenteiroadmin">
            <module name="Magenteiro_AdminController"/>
        </route>
    </router>
</config>